.env
__pycache__/
application/__pycache__/
fullMonteWeb/__pycache__/
fullMonteWeb/.env
application/migrations/
fullMonteWeb/migrations/
venv/
fullMonteWeb/staticfiles/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
