{% extends 'base_generic.html' %}

{% block content %}
<div class="txt_container">
    <h1 style="font-size: 400%">Account info</h1>
    {% if not request.user.is_authenticated %}
    <diV>
        <p>You are note currently logged in</p>
    </diV>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="row justify-content-center">
            <div class='card p-3 bg-light' style="width: 70rem;">
                <div style="font-size:200%">
                    <div class= "row">
                        <div class="col-md-4 float-left">
                            <p>Username: </p>
                        </div>
                        <div class="col-md-6 float-left">
                            <p>{{ request.user.username }}</p>
                        </div>
                    </div>
                    <div class= "row">
                        <div class="col-md-4 float-left">
                            <p>Email Address: </p>
                        </div>
                        <div class="col-md-6 float-left">
                            <p>{{ request.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center_container">
            <a class="btn btn-primary" href="{% url 'change_password' %}">Change Password</a>
        </div>
    {% endif %}
</div>
    
{% endblock %}