<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<html lang="en">
    <head>
        {% block title %}<title>Local Library</title>{% endblock %}
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- Add additional CSS in static file -->
                    {% load static %}
                    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span style="font-size:200%" class="font-weight-bold text-primary">FullMonte</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'tutorial' %}">Tutorial</a>
                          <a class="dropdown-item" href="{% url 'simulator' %}">Simulator</a>
                          <a class="dropdown-item" href="{% url 'visualization' %}">Visualization</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'about' %}">About</a
                        </div>
                      </li>
                      {% if not request.user.is_authenticated %}
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'signup' %}">Signup <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                      </li>
                      {% endif %}
                      {% if request.user.is_authenticated %}
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                      </li>
                      {% endif %}
                    </ul>
                </div>
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %}
                    <ul class="sidebar-nav">
                        <li><a class="btn btn-primary" href="{% url 'home' %}">Home</a></li><br/>
                        <li><a class="btn btn-primary" href="{% url 'tutorial' %}">Tutorial</a></li><br/>
                        <li><a class="btn btn-primary" href="{% url 'simulator' %}">Simulator</a></li><br/>
                        <li><a class="btn btn-primary" href="{% url 'visualization' %}">Visualization</a></li><br/>
                        <li><a class="btn btn-primary" href="{% url 'download_output' %}">Download</a></li><br/>
                    </ul>
                    {% endblock %}
                </div>
                <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>
