{% extends "base_generic.html" %}

{% block content %}
<div class="txt_container">
    <h1>FullMonte Home</h1>
    <p>Welcome to FullMonte!</p>

    <h2>Overview</h2>
    <p>
    This website introduces FullMonte, the fastest open-source tetrahedral mesh-based Monte Carlo software model available.
    </p>

    <h3>Getting Started</h3>
    <p>
    To get started with FullMonte, continue to the <a href="{% url 'tutorial'%}">tutorial page</a>.
    </p>

    <h4>Additional Information</h4>
    <p>
    An overview of Interstitial Photodynamic Therapy can be found <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5332935/" target="_blank">here</a>.
    </p>
    <p>
    A full description of the simulator is available <a href="https://www.spiedigitallibrary.org/journals/journal-of-biomedical-optics/volume-23/issue-08/085001/High-performance-robustly-verified-Monte-Carlo-simulation-with-FullMonte/10.1117/1.JBO.23.8.085001.full?SSO=1" target="_blank">here</a>.
    </p>
    <p>
    To run FullMonte locally, navigate <a href="https://gitlab.com/FullMonte/FullMonteSW/wikis/home" target="_blank">here</a>.
    </p>
</div>
{% endblock %}
