{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="txt_container">
    <h1>Upload Mesh File for Visualization</h1>

    <!-- form for user to upload a mesh -->
    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);">
            <h3>Upload Mesh Here</h3>

            <div class='table'>
                <table class='no_error'>
                    {% csrf_token %}
                    <tr>
                        <th>{{ form.outputMeshFile.label_tag }}</th>
                        <td>
                            {{ form.outputMeshFile.errors }}
                            {{ form.outputMeshFile }}
                        </td>
                    </tr>
                </table>
            </div>
            
            <p><br/><input type="submit" value="Sumbit"></p>

        </form>
    </div>

    <div class="center_container"">
        <b><p>OR</p></b>
        <b><a href="{% url 'simulator' %}">Run simulation to view its output.</a></b>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var _validFileExtensions = [".out.vtk", ".vtk"];
    function Validate(oForm) {
        var arrInputs = oForm.getElementsByTagName("input");
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var blnValid = false;
                        for (var j = 0; j < _validFileExtensions.length; j++) {
                            var sCurExtension = _validFileExtensions[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValid = true;
                                break;
                            }
                        }
                        if(blnValid) {
                            alert("Loading your mesh will take some time. Please wait.");
                        }
                        else {
                            alert("Sorry, " + sFileName + " is invalid, allowed mesh file extension is: " + _validFileExtensions.join(", "));
                            return false;
                        }
                    }
                }
            }
        
            return true;
    }
</script>


{% endblock %}
