{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container">
    <h1>PDT-SPACE</h1> 
    <p><b>The PDT-SPACE run finished. Output from PDT-SPACE run:</b></p> 
    <br/>
    <p><b>Total energy:</b> {{total_energy}}</p> 
    <p><b>Number of packets:</b> {{total_pack}}</p> 
    <p><b>Fluence distribution:</b></p> 
    <p>{% autoescape off %}{{html_fluence_dist}}{% endautoescape %}</p>
    <p><b>Relative power allocation for {{num_source}} light sources:</b></p> 
    <p>{% autoescape off %}{{html_pow_alloc}}{% endautoescape %}</p>
    <p><b>Time usage:</b></p> 
    <p>{% autoescape off %}Running FM simulation for all sources: {{time_simu}} minutes. {% endautoescape %}</p>
    <p>{% autoescape off %}Running optimization: {{time_opt}} minutes. {% endautoescape %}</p>
    <br/>
    <ul class="suggestion-list">
        <li><a href=pdt_space_visualization>Visualize the PDT-SPACE output</a></li><br/>
        <li><a href="download/{{pdt_log_file.pdt_space_log.name}}">Download PDT-SPACE running log file</a></li><br/>
    </ul>

</div>

{% endblock %}