{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container" style="text-align: center;">
    <h1>PDT-SPACE</h1> 
    <p><b>Please upload Mosek license.</b></p>
    <p><a href="https://www.mosek.com/products/academic-licenses/">How to acquire a Mosek license</a></p>
    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data">
            <b><p>Mosek License</p></b>
            <div class='table'>
                <table class='no_error'>
                    {% csrf_token %}
                    <tr>
                        <th>{{ form.mosek_license.label_tag }}</th>
                        <td>
                            {{ form.mosek_license.errors }}
                            {{ form.mosek_license }}
                        </td>
                    </tr>
                </table>
            </div>
            
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
</div>

{% endblock %}