{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container" style="text-align: center;">
    <h1>PDT-SPACE</h1> 
    <p><b>Please enter light source properties and upload a placement file for light sources.</b></p>
    <p>You can view the complete list of input parameters and detailed explaination <a href="https://gitlab.com/FullMonte/pdt-space/-/wikis/user-guide#input-parameters" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data">
            <b><p>Input parameters for PDT-SPACE</p></b>
            <div class='table'>
                <table class='no_error'>
                    {% csrf_token %}
                    <tr>
                        <th>{{ form.placement_type.label_tag }}</th>
                        <td>
                            {{ form.placement_type.errors }}
                            {{ form.placement_type }}
                        </td>
                        <td style="text-align:left">
                            {% autoescape off %}{{ form.placement_type.help_text }}{% endautoescape %}
                        </td>
                    </tr>
                    
                    <tr>
                        <th>{{ form.light_placement_file.label_tag }}</th>
                        <td>
                            {{ form.light_placement_file.errors }}
                            {{ form.light_placement_file }}
                        </td>
                        <td style="text-align:left">
                            {{ form.light_placement_file.help_text }}
                            <a href="https://gitlab.com/FullMonte/pdt-space/-/wikis/user-guide#source-placement" target="_blank" style="font-size: 10pt;" rel="noopener noreferrer">See details</a>
                        </td>
                    </tr>
                </table>
            </div>
            
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
</div>

{% endblock %}