{% extends 'base_generic.html' %}
{% block content %}

<meta http-equiv="refresh" content="5"/>
<div class="txt_container" style="text-align: center;">
    <h1>PDT-SPACE</h1> 
    <p>Please wait, we are searching all available meshes and optical files...</p>
    <p>To view more information of PDT-SPACE, click <a href="https://gitlab.com/FullMonte/pdt-space/-/wikis/home" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>Click refresh to update status or auto-fresh every 5 seconds.</p>

    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <br>

    <form action="" method="get">
        <input type="submit" value="Refresh" />
    </form>
</div>


{% endblock %}