{% extends 'base_generic.html' %}
{% block content %}
<meta http-equiv="refresh" content="5"/>
<div class="txt_container">
    
    <h1>PDT-SPACE</h1> 
    <p>The PDT-SPACE is Running Now</p> 
    <p>The program will run few simulations for all light sources and use Mosek Fusion library to optimize power allocations.</p>
    <p>Status: {{status}}</p>
    <p>Time used: {{time}}</p>
    <label for="file">Progress: <b>{{progress}}%</b> </label>
    <progress id="file" value="{{progress}}" max="100"> 32% </progress>
    <p>Click refresh to update status or auto-fresh every 5 seconds.</p>
    <p>You will be automatically redirected when the simulation is finished</p>
    
    
    <form action="" method="get">
        <input type="submit" value="Refresh" />
    </form>
</div>


{% endblock %}