{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container" style="text-align: center;">
    <h1>PDT-SPACE</h1> 
    <p>PDT-SPACE uses the <a href="https://www.mosek.com/documentation/" target="_blank" rel="noopener noreferrer">Mosek Fusion C++ API</a> library to solve convex optimization problems. </p> 
    <p>The library provides a free academic license for faculty and students that can be downloaded from their website.</p>
    <p>Please acquire the Mosek license <a href="https://www.mosek.com/products/academic-licenses/" target="_blank" rel="noopener noreferrer">here</a>.</p>

    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data">
            <b><p>Please upload Mosek license.</p></b>
            <div class='table'>
                <table class='no_error'>
                    {% csrf_token %}
                    <tr>
                        <th>{{ form.mosek_license.label_tag }}</th>
                        <td>
                            {{ form.mosek_license.errors }}
                            {{ form.mosek_license }}
                        </td>
                    </tr>
                </table>
            </div>
            
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
</div>

{% endblock %}