{% extends "base_generic.html" %}

{% block content %}
<div class="txt_container">
    <h1>[beta] FullMonte Serverless Simulator</h1>
    <div class="txt_container" style="text-align: center;">
        <p>Welcome to the Serverless Simulator. Each simulation will be automatically connected to IBM Cloud once you confirm and submit your simulation files.</p>
    </div>

    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);">

            <div class="center_container">
                <b><a href="{% url 'download_preset' %}">
                    Click here to download a preset mesh.
                </a></b>
            </d>
            <br></br>
            <div class='table'>
                <!-- <div class="option-select">
                <select name="selected_existing_meshes" id='select_existing'>
                    <option value="" selected>No mesh file chosen</option>
                    {% for entry in uploaded_meshes %}
                        <option value="{{ entry.id }}">{{ entry.originalMeshFileName }}</option>
                    {% endfor %}
                </select>
                </div> -->
                <table id='mesh_upload'>
                    {% csrf_token %}
                    <tr>
                        <th>1. Upload a {{ form.meshFile.label_tag }}</th>
                        <td>
                            {{ form.meshFile.errors }}
                            {{ form.meshFile }}
                        </td>
                    </tr>
                </table>   
                <table id='tcl_upload'>
                    {% csrf_token %}
                    <tr>
                        <th>2. Upload a {{ form.script.label_tag }}</th>
                        <td>
                            {{ form.script.errors }}
                            {{ form.script }}
                        </td>
                    </tr>
                </table>   
            </div>
            <p><br/><input type="submit" value="Confirm and Submit"></p>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function Validate(oForm) {
        // TODO validate mesh and tcl file names and file extensions
        alert("Uploading your mesh will take some time. Please wait.");
        return true;
    }      
</script>


{% endblock %}
