{% extends 'base_generic.html' %}
{% block content %}

<div class="txt_container" style="text-align: center;">
    <h1>Please Confirm your simulation parameters</h1> 

    <h5><b>Mesh: {{ mesh_name }}</b></h5>

    <br/>

    <h5 style="color:#0894d1;">Optical Materials:</h5>
    {% for item in materials %}
        <h5><b>Region {{ item.layer }}:</b></h5>
        <h6>Material: {{ item.material }}</h6>
        <h6>Scattering Coefficient: {{ item.scatteringCoeff }} {{ unit }}<sup>-1</sup></h6>
        <h6>Absorption Coefficient: {{ item.absorptionCoeff }} {{ unit }}<sup>-1</sup></h6>
        <h6>Refractive Index: {{ item.refractiveIndex }}</h6>
        <h6>Anisotropy: {{ item.anisotropy }}</h6>
    {% endfor %}

    <br/>

    <h5 style="color:#0894d1;">Light Sources:</h5>
    {% for item in light_sources %}
        <h5><b>Source {{ item.source }}:</b></h5>
        {% if item.sourceType == "Point" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>Position: x={{ item.xPos }} {{ unit }}, y={{ item.yPos }} {{ unit }}, z={{ item.zPos }} {{ unit }}</h6>
            <h6>Power: {{ item.power }}</h6>
        {% elif item.sourceType == "PencilBeam" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>Position: x={{ item.xPos }} {{ unit }}, y={{ item.yPos }} {{ unit }}, z={{ item.zPos }} {{ unit }}</h6>
            <h6>Direction: x={{ item.xDir }}, y={{ item.yDir }}, z={{ item.zDir }}</h6>
            <h6>Power: {{ item.power }}</h6>
        {% elif item.sourceType == "Volume" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>Volume Element ID: {{ item.vElement }}</h6>
            <h6>Power: {{ item.power }}</h6>
        {% elif item.sourceType == "Ball" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>Position: x={{ item.xPos }} {{ unit }}, y={{ item.yPos }} {{ unit }}, z={{ item.zPos }} {{ unit }}</h6>
            <h6>Radius: {{ item.rad }} {{ unit }}</h6>
            <h6>Power: {{ item.power }}</h6>
        {% elif item.sourceType == "Cylinder" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>End Point 1: x={{ item.xPos0 }} {{ unit }}, y={{ item.yPos0 }} {{ unit }}, z={{ item.zPos0 }} {{ unit }}</h6>
            <h6>End Point 2: x={{ item.xPos1 }} {{ unit }}, y={{ item.yPos1 }} {{ unit }}, z={{ item.zPos1 }} {{ unit }}</h6>
            <h6>Radius: {{ item.rad }} {{ unit }}</h6>
            <h6>Emit Volume: {{ item.emitVolume }}</h6>
            {% if item.emitVolume == "false" %}
                <h6>Emit in HemiSphere: {{ item.emitHemiSphere }}</h6>
                {% if item.emitHemiSphere == "true" %}
                    <h6>HemiSphere Emit Distribution: {{ item.hemiSphereEmitDistribution }}</h6>
                    {% if item.hemiSphereEmitDistribution == "CUSTOM" %}
                        <h6>Numerical Aperture: {{ item.numericalAperture }}</h6>
                    {% endif %}
                {% endif %}
            {% endif %}
            <h6>Power: {{ item.power }}</h6>
        {% elif item.sourceType == "SurfaceSourceBuilder" %}
            <h6>Source Type: {{ item.sourceType }}</h6>
            <h6>Volume Region ID: {{ item.volumeRegion }}</h6>
            <h6>Emit in HemiSphere: {{ item.emitHemiSphere }}</h6>
            {% if item.emitHemiSphere == "true" %}
                <h6>HemiSphere Emit Distribution: {{ item.hemiSphereEmitDistribution }}</h6>
                {% if item.hemiSphereEmitDistribution == "CUSTOM" %}
                    <h6>Numerical Aperture: {{ item.numericalAperture }}</h6>
                {% endif %}
            {% endif %}
            <h6>Check Direction: {{ item.checkDirection }}</h6>
            {% if item.checkDirection == "true" %}
                <h6>Emit Direction: x={{ item.xDir1 }}, y={{ item.yDir1 }}, z={{ item.zDir1 }}</h6>
            {% endif %}
            <h6>Power: {{ item.power }}</h6>
        {% endif %}
    {% endfor %}
    <br/>

    <button id='advanced'>Advanced Options</button>
    <div id='advancedOption' class='table'>
        <h6>Click here to download the auto-generated TCL script if you wish to make changes: <a href="download/{{tcl_script_name}}">{{ tcl_script_name }}</a></h6>
    </div>
    <br/>
    </br>

    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);" style="width: 60%; text-align: center;">
            <div id="advancedOption1" class="table">
                <h6>Upload the modified TCL script to run the simulation (please make sure to follow the instructions in the template and keep the filename unmodified):</h6>
                <table class='no_error'>
                    {% csrf_token %}
                    <tr>
                        <th>{{ tcl_form.tcl_file.label_tag }}</th>
                        <td>
                            {{ tcl_form.tcl_file.errors }}
                            {{ tcl_form.tcl_file }}
                        </td>
                    </tr>
                </table>
            </div>
            <p><input type="submit" value="Confirm and Submit"></p>
        </form>
    </div>
    <br>

    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function Validate(oForm) {
        var arrInputs = oForm.getElementsByTagName("input");
        var tcl_script_name = '{{ tcl_script_name|escapejs }}';
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var filename = sFileName.replace(/^.*[\\\/]/, '');
                        var blnValid = (filename === tcl_script_name);
                        
                        if(blnValid) {
                            return confirm('This will run the Full Monte Simulator and will take some time. Please wait.'); 
                        }
                        
                        if (!blnValid) {
                            alert("Sorry, " + filename + " is invalid. Please change your uploaded TCL script to be " + tcl_script_name);
                            return false;
                        }
                    }
                }
            }
        
            return confirm('This will run the FullMonte Simulator and will take some time. Please wait.'); 
    }
</script>

<script>
    $(document).ready(function(){
        $("#advancedOption1").hide();
                    $("#advanced").click(function(){
                                        $("#advancedOption").toggle();
                                        $("#advancedOption1").toggle();
                                        });
                    });
</script>

{% endblock %}