{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container">
    <h1>The Simulation is Finished.</h1> 
    <p><b>Output from simulation run:</b></p>
    <p>{% autoescape off %}{{output}}{% endautoescape %}</p>
    <br/>
    <p><b>Suggestions for next steps:</b></p>
    <ul class="suggestion-list">
        <li><a href=visualization>Visualize the simulation output mesh</a></li><br/>
        <li><a href=simulator>Run another simulation</a></li>
    </ul>
</div>


{% endblock %}