{% extends "base_generic.html" %}

{% block content %}
<h1>FullMonte Simulator</h1>

<form action="" method="post">
    <h3>Light Source</h3>
    {{ formset2.management_form }}
    <div id="form_set" class="table">
        <hr>
        {% for form in formset2.forms %}
            <table class='no_error'>
                {% csrf_token %}
                <tr>
                    <th>{{ form.sourceType.label_tag }}</th>
                    <td>
                        {{ form.sourceType.errors }}
                        {{ form.sourceType }}
                    </td>
                </tr>
                <!-- Point Source Type -->
                <tbody id="Point" style="display: none">
                    <tr>
                        <th><label>Position</label></th>
                        <td>
                            {{ form.xPos.errors }}
                            {{ form.yPos.errors }}
                            {{ form.zPos.errors }}
                            {{ form.xPos }}
                            {{ form.yPos }}
                            {{ form.zPos }}
                        </td>
                    </tr>
                </tbody>
                <!-- Point Source Type -->
                <!-- PencilBeam Source Type -->
                <tbody id="PencilBeam" style="display:none">
                    <tr>
                        <th><label>Direction</label></th>
                        <td>
                            {{ form.xDir.errors }}
                            {{ form.yDir.errors }}
                            {{ form.zDir.errors }}
                            {{ form.xDir }}
                            {{ form.yDir }}
                            {{ form.zDir }}
                        </td>
                    </tr>
                </tbody>
                <!-- PencilBeam Source Type -->
                <!-- Volume Source Type -->
                <tbody id="Volume" style="display: none">
                    <tr>
                        <th><label>Volume Element ID</label></th>
                        <td>
                            {{ form.vElement.errors }}
                            {{ form.vElement }}
                        </td>
                    </tr>
                </tbody>
                <!-- Volume Source Type -->
                <!-- Ball Source Type -->
                <tbody id="Ball" style="display: none">
                    <tr>
                        <th>{{ form.rad.label_tag }}</th>
                        <td>
                            {{ form.rad.errors }}
                            {{ form.rad }}
                        </td>
                    </tr>
                </tbody>
                <!-- Ball Source Type -->
                <tr>
                    <th>{{ form.power.label_tag }}</th>
                    <td>
                        {{ form.power.errors }}
                        {{ form.power }}
                    </td>
                </tr>
            </table>
        {% endfor %}
        <hr>
    </div>

    <input type="button" value="Add Row" id="add_row">
    <input type="button" value="Remove Row" id="remove_row">
        <div id="empty_form" class="table" style="display:none">
            <table class='no_error'>
                {% csrf_token %}
                <tr>
                    <th>{{ formset2.empty_form.sourceType.label_tag }}</th>
                    <td>
                        {{ formset2.empty_form.sourceType.errors }}
                        {{ formset2.empty_form.sourceType }}
                    </td>
                </tr>
                <!-- Point Source Type -->
                <tbody id="Point2" style="display: none">
                    <tr>
                        <th><label>Position</label></th>
                        <td>
                            {{ formset2.empty_form.xPos.errors }}
                            {{ formset2.empty_form.yPos.errors }}
                            {{ formset2.empty_form.zPos.errors }}
                            {{ formset2.empty_form.xPos }}
                            {{ formset2.empty_form.yPos }}
                            {{ formset2.empty_form.zPos }}
                        </td>
                    </tr>
                </tbody>
                <!-- Point Source Type -->
                <!-- PencilBeam Source Type -->
                <tbody id="PencilBeam2" style="display:none">
                    <tr>
                        <th><label>Direction</label></th>
                        <td>
                            {{ formset2.empty_form.xDir.errors }}
                            {{ formset2.empty_form.yDir.errors }}
                            {{ formset2.empty_form.zDir.errors }}
                            {{ formset2.empty_form.xDir }}
                            {{ formset2.empty_form.yDir }}
                            {{ formset2.empty_form.zDir }}
                        </td>
                    </tr>
                </tbody>
                <!-- PencilBeam Source Type -->
                <!-- Volume Source Type -->
                <tbody id="Volume2" style="display: none">
                    <tr>
                        <th>{{ formset2.empty_form.vElement.label_tag }}</th>
                        <td>
                            {{ formset2.empty_form.vElement.errors }}
                            {{ formset2.empty_form.vElement }}
                        </td>
                    </tr>
                </tbody>
                <!-- Volume Source Type -->
                <!-- Ball Source Type -->
                <tbody id="Ball2" style="display: none">
                    <tr>
                        <th><label>Volume Element ID</label></th>
                        <td>
                            {{ formset2.empty_form.rad.errors }}
                            {{ formset2.empty_form.rad }}
                        </td>
                    </tr>
                </tbody>
                <!-- Ball Source Type -->
                <tr>
                    <th>{{ formset2.empty_form.power.label_tag }}</th>
                    <td>
                        {{ formset2.empty_form.power.errors }}
                        {{ formset2.empty_form.power }}
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        
    <p></p>

    <p><input type="submit"></p>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#add_row').click(function() {
                        var form_idx = $('#id_form-TOTAL_FORMS').val();
                        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                        if ('#id_form-' + form_idx + '-sourceType'){
                            $('#id_form-' + form_idx + '-sourceType').on('change', function () {
                                                          $("#Point2").hide()
                                                          $("#PencilBeam2").hide()
                                                          $("#Volume2").hide()
                                                          $("#Ball2").hide()
                                                          var selection = $(this).val();
                                                          switch (selection) {
                                                            case "Point":
                                                                $("#Point2").show()
                                                            break;
                                                            case "PencilBeam":
                                                                $("#Point2").show()
                                                                $("#PencilBeam2").show()
                                                            break;
                                                            case "Volume":
                                                                $("#Volume2").show()
                                                            break;
                                                            case "Ball":
                                                                $("#Point2").show()
                                                                $("#Ball2").show()
                                                            break;
                                                            default:
                                                          }
                                                          });
                        }
                        });
    $('#remove_row').click(function() {
                           var form_idx = $('#id_form-TOTAL_FORMS').val();
                           if (parseInt(form_idx) > 1) {
                            $('.no_error')[parseInt(form_idx)-1].remove();
                            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
                           }
                           });
</script>

<script type="text/javascript" src="jquery-ui-1.10.0/tests/jquery-1.9.0.js"></script>
<script src="jquery-ui-1.10.0/ui/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#Point").show();
        $("#Point2").show();
    });

    $('#id_form-0-sourceType').on('change', function () {
        $("#Point").hide()
        $("#PencilBeam").hide()
        $("#Volume").hide()
        $("#Ball").hide()
        var selection = $(this).val();
        switch (selection) {
            case "Point":
                $("#Point").show()
                break;
            case "PencilBeam":
                $("#Point").show()
                $("#PencilBeam").show()
                break;
            case "Volume":
                $("#Volume").show()
                break;
            case "Ball":
                $("#Point").show()
                $("#Ball").show()
                break;
            default:
        }
    });

</script>



<form>
    <input type="button" value="Back" onclick="history.back()">
</form>

<br/>

{% endblock %}
