{% extends "base_generic.html" %}

{% block content %}
<div class="txt_container">
    <h1>FullMonte Simulator</h1>
    <div class="txt_container" style="text-align: center;">
        <p>Currently connected to <b>{{ aws_path }}</b> through port <b>{{ port }}</b>.</p>
    </div>

    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);">

            <div class="center_container">
                <b><a href="{% url 'download_preset' %}">
                    Click here to download a preset mesh.
                </a></b>
            </d>
            <br></br>
            <div class='table'>
                <div class="option-select">
                <!-- <p><b>Select an uploaded mesh file from databse:</b></p> -->
                <select name="selected_existing_meshes" id='select_existing'>
                    <option value="" selected>No mesh file chosen</option>
                    {% for entry in uploaded_meshes %}
                        <option value="{{ entry.id }}">{{ entry.originalMeshFileName }}</option>
                    {% endfor %}
                </select>
                </div>
                <table class='no_error' id='mesh_upload'>
                    {% csrf_token %}
                    <tr>
                        <th>Or upload a new {{ form.meshFile.label_tag }}</th>
                        <td>
                            {{ form.meshFile.errors }}
                            {{ form.meshFile }}
                        </td>
                    </tr>
                </table>
            </div>

            <button id='advanced' type='button'>Advanced Options</button>
            
            <div id='advancedOption' class='table'>
                {% csrf_token %}
                {{ form.kernelType.label_tag }}
                {{ form.kernelType.errors }}
                {{ form.kernelType }}
                <br/>
                {{ form.packetCount.label_tag }}
                {{ form.packetCount.errors }}
                {{ form.packetCount }}
                </br>
                <a href="{% url 'kernel_info' %}">
                    Click here for more info about the kernel type.
                </a>
            </div>
            
            <p><br/><input type="submit" value="Next"></p>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    var _validFileExtensions = [".vtk"];
    function Validate(oForm) {
        if(document.getElementById("id_meshFile").files.length == 0 && $("#select_existing")[0].selectedIndex == 0){
            alert("Please select one mesh file from your uploaded mesh, or upload a new mesh!");
            return false;
        }
        var arrInputs = oForm.getElementsByTagName("input");
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var blnValid = false;
                        for (var j = 0; j < _validFileExtensions.length; j++) {
                            var sCurExtension = _validFileExtensions[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValid = true;
                                break;
                            }
                        }
                        
                        if(blnValid) {
                            alert("Uploading your mesh will take some time. Please wait.");
                        }
                        
                        if (!blnValid) {
                            alert("Sorry, " + sFileName + " is invalid, allowed mesh file extension is: " + _validFileExtensions.join(", "));
                            return false;
                        }
                    }
                }
            }
        
            return true;
    }
</script>

<script>
    $(document).ready(function(){
                    $("#advanced").click(function(){
                                        $("#advancedOption").toggle();
                                        });
                    $("#mesh_upload").click(function(){
                        $("#select_existing")[0].selectedIndex = 0;
                                        });
                    $("#select_existing").change(function(){
                        document.getElementById("id_meshFile").value=null;
                                        });
                    });
                    
                    
</script>


{% endblock %}
