{% extends "base_generic.html" %}

{% block content %}
<div class="txt_container">
    <h1>FullMonte Simulator</h1>

    <div class="center_container">
        <p>The material properties must be specified in the same order as they occur in the mesh.</p>
        <p>Please remember that the optical properties must be in unites matching that of the mesh.</p>
        <button id='advanced'>Developer Options</button>
        <br>

        <div id='advancedOption'>
            <a href="{% url 'create_preset_material' %}">
                Click here to upload a new preset material (developer only).
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-light' action="" method="post">
            <h3>Material Set</h3>
            {{ formset1.management_form }}
            <div id="form_set" class="table">
                {% for form in formset1.forms %}
                    <table class='no_error'>
                        {% csrf_token %}
                        <tr>
                            <th>Layer 1 - Outer layer:</th>
                        </tr>
                        <tr>
                            <th>{{ form.custom.label_tag }} </th>
                            <td>
                                {{ form.custom.errors }}
                                {{ form.custom }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.material.label_tag }}</th>
                            <td>
                                {{ form.material.errors }}
                                {{ form.material }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.scatteringCoeff.label_tag }}</th>
                            <td>
                                {{ form.scatteringCoeff.errors }}
                                {{ form.scatteringCoeff }}
                                &nbsp; µ<sub>s</sub>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.absorptionCoeff.label_tag }}</th>
                            <td>
                                {{ form.absorptionCoeff.errors }}
                                {{ form.absorptionCoeff }}
                                &nbsp; µ<sub>a</sub>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.refractiveIndex.label_tag }}</th>
                            <td>
                                {{ form.refractiveIndex.errors }}
                                {{ form.refractiveIndex }}
                                &nbsp; n
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.anisotropy.label_tag }}</th>
                            <td>
                                {{ form.anisotropy.errors }}
                                {{ form.anisotropy }}
                                &nbsp; g
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <input type="button" value="Add Row" id="add_row">
            <input type="button" value="Remove Row" id="remove_row">
                <div id="empty_form" class="table" style="display:none">
                    <table class='no_error'>
                        {% csrf_token %}
                        <tr>
                            <th>{{ formset1.empty_form.layer.label_tag }} </th>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.custom.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.custom.errors }}
                                {{ formset1.empty_form.custom }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.material.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.material.errors }}
                                {{ formset1.empty_form.material }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.scatteringCoeff.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.scatteringCoeff.errors }}
                                {{ formset1.empty_form.scatteringCoeff }}
                                &nbsp; µ<sub>s</sub>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.absorptionCoeff.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.absorptionCoeff.errors }}
                                {{ formset1.empty_form.absorptionCoeff }}
                                &nbsp; µ<sub>a</sub>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.refractiveIndex.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.refractiveIndex.errors }}
                                {{ formset1.empty_form.refractiveIndex }}
                                &nbsp; n
                            </td>
                        </tr>
                        <tr>
                            <th>{{ formset1.empty_form.anisotropy.label_tag }}</th>
                            <td>
                                {{ formset1.empty_form.anisotropy.errors }}
                                {{ formset1.empty_form.anisotropy }}
                                &nbsp; g
                            </td>
                        </tr>
                    </table>
                </div>
            <p></p>
            
            <p><input type="submit" value="Next"></p>

        </form>
    </div>

    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>

    <br/>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#add_row').click(function() {
                        var form_idx = $('#id_form-TOTAL_FORMS').val();
                        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                        if (document.getElementById("id_form-"+form_idx+"-custom")) {
                            document.getElementById("id_form-"+form_idx+"-custom").onchange=function() {
                                var ind = document.getElementById("id_form-"+form_idx+"-custom").value;
                        
                                $.ajaxSetup({
                                            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                                            });
                        
                                $.ajax({
                                    url: '{% url "ajax_requests" %}',
                                    type: 'POST',
                                    data: {
                                        'ind': ind,
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        var material = document.getElementById("id_form-"+form_idx+"-material");
                                        var scatteringCoeff = document.getElementById("id_form-"+form_idx+"-scatteringCoeff");
                                        var absorptionCoeff = document.getElementById("id_form-"+form_idx+"-absorptionCoeff");
                                        var refractiveIndex = document.getElementById("id_form-"+form_idx+"-refractiveIndex");
                                        var anisotropy = document.getElementById("id_form-"+form_idx+"-anisotropy");
                                        if (data) {
                                            material.value = data[0].fields['material_name'];
                                            scatteringCoeff.value = data[0].fields['scattering_coeff'];
                                            absorptionCoeff.value = data[0].fields['absorption_coeff'];
                                            refractiveIndex.value = data[0].fields['refractive_index'];
                                            anisotropy.value = data[0].fields['anisotropy'];
                                        }
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                                        var material = document.getElementById("id_form-"+form_idx+"-material");
                                        var scatteringCoeff = document.getElementById("id_form-"+form_idx+"-scatteringCoeff");
                                        var absorptionCoeff = document.getElementById("id_form-"+form_idx+"-absorptionCoeff");
                                        var refractiveIndex = document.getElementById("id_form-"+form_idx+"-refractiveIndex");
                                        var anisotropy = document.getElementById("id_form-"+form_idx+"-anisotropy");
                                        material.value = null;
                                        scatteringCoeff.value = null;
                                        absorptionCoeff.value = null;
                                        refractiveIndex.value = null;
                                        anisotropy.value = null;
                                    }
                                    });
                            }
                        }
                        
                        var label = document.getElementsByTagName("LABEL");
                        var index = 6 + ((parseInt(form_idx)-1) * 7)
                        var layer_ind = parseInt(form_idx)+1
                        label[index].innerText = "Layer " + layer_ind + ":"
                        });
    
    $('#remove_row').click(function() {
                        var form_idx = $('#id_form-TOTAL_FORMS').val();
                        if (parseInt(form_idx) > 1) {
                            $('.no_error')[parseInt(form_idx)-1].remove();
                            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
                        }
                        });
                        
    window.onload=function() {
        var i = 0;
        for(; i < 100; ++i){
            if (document.getElementById("id_form-"+i+"-custom")) {
                var form_idx = i;
                document.getElementById("id_form-"+i+"-custom").onchange=function()
                {
                    var x = this.name.substr(this.name.length-8, this.name.length);
                    x = x.slice(0, -7);
                    var ind = document.getElementById("id_form-"+form_idx+"-custom").value;;
                    
                    $.ajaxSetup({
                                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                                });
                                
                    $.ajax({
                        url: '{% url "ajax_requests" %}',
                        type: 'POST',
                        data: {
                            'ind': ind,
                        },
                        dataType: 'json',
                        success: function (data) {
                            var material = document.getElementById("id_form-"+form_idx+"-material");
                            var scatteringCoeff = document.getElementById("id_form-"+form_idx+"-scatteringCoeff");
                            var absorptionCoeff = document.getElementById("id_form-"+form_idx+"-absorptionCoeff");
                            var refractiveIndex = document.getElementById("id_form-"+form_idx+"-refractiveIndex");
                            var anisotropy = document.getElementById("id_form-"+form_idx+"-anisotropy");
                            if (data) {
                                material.value = data[0].fields['material_name'];
                                scatteringCoeff.value = data[0].fields['scattering_coeff'];
                                absorptionCoeff.value = data[0].fields['absorption_coeff'];
                                refractiveIndex.value = data[0].fields['refractive_index'];
                                anisotropy.value = data[0].fields['anisotropy'];
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            var material = document.getElementById("id_form-"+form_idx+"-material");
                            var scatteringCoeff = document.getElementById("id_form-"+form_idx+"-scatteringCoeff");
                            var absorptionCoeff = document.getElementById("id_form-"+form_idx+"-absorptionCoeff");
                            var refractiveIndex = document.getElementById("id_form-"+form_idx+"-refractiveIndex");
                            var anisotropy = document.getElementById("id_form-"+form_idx+"-anisotropy");
                            material.value = null;
                            scatteringCoeff.value = null;
                            absorptionCoeff.value = null;
                            refractiveIndex.value = null;
                            anisotropy.value = null;
                        }
                        })
                }
            }
        }
    }
</script>
<script>
    $(document).ready(function(){
                    $("#advanced").click(function(){
                                        $("#advancedOption").toggle();
                                        });
                    });
</script>


{% endblock %}
