<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

{% extends 'base_generic.html' %}
{% block content %}
<style type="text/css">
    table { width: 100%; }
    td {
        border: 1px solid #000;
        text-align: center; 
        vertical-align: middle;
    }
    th {
        border: 1px solid #000;
        text-align: center; 
        vertical-align: middle;
    }
</style>
<table class="sortable">
        <tr>
            <th>Simulation Type</th>
            <th>Mesh file</th>
            <th>TCL script</th>
            <th>Output VTK file</th>
            <th>Output TXT file</th>
            <th>Time Finished</th>
        </tr>
    {% for item in history %}
    <tr> 
        <td>{{ item.simulation_type }}</a></td>
        <td><a href="download/{{item.mesh_file_path.name}}">{{ item.mesh_file_path.name }}</a></td>
        <td><a href="download/{{item.tcl_script_path.name}}">{{ item.tcl_script_path.name }}</a></td>
        <td><a href="download/{{item.output_vtk_path.name}}">{{ item.output_vtk_path.name }}</a></td>
        <td><a href="download/{{item.output_txt_path.name}}">{{ item.output_txt_path.name }}</a></td>
        <td>{{ item.simulation_time }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}