<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container" style="padding: 1rem 0rem 0rem 0rem;">
    <h1>Simulation History</h1>
    <p><b>Total rows: {{ historySize }}</b></p>
</div>
<div class="custom_table_scrollbar">
    <table class="table table-bordered table-striped table-sm" cellspacing="0">
        <thead>
            <tr>
                <th class="th-sm">Simulation Type</th>
                <th class="th-sm">Mesh file</th>
                <th class="th-sm">TCL script</th>
                <th class="th-sm">Output VTK file</th>
                <th class="th-sm">Output TXT file</th>
                <th class="th-sm">Output DVH file</th>
                <th class="th-sm">Time Finished</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr> 
                <td>{{ item.simulation_type }}</a></td>
                <td><a href="download/{{item.mesh_file_path.name}}&output_name={{item.originalMeshFileName}}">{{ item.originalMeshFileName }}</a></td>
                <td><a href="download/{{item.tcl_script_path.name}}">{{ item.tcl_script_path.name }}</a></td>
                <td><a href="download/{{item.output_vtk_path.name}}">{{ item.output_vtk_path.name }}</a></td>
                <td><a href="download/{{item.output_txt_path.name}}">{{ item.output_txt_path.name }}</a></td>
                <td><a href="download/{{item.output_dvh_path.name}}">{{ item.output_dvh_path.name }}</a></td>
                <td nowrap>{{ item.simulation_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}