{% extends "base_generic.html" %}

{% block content %}
<h1>Tutorial</h1>

<h2>How to run a simulation using FullMonteWeb</h2>
<iframe width="650" height="350" src="https://www.youtube.com/embed/1sqRCMTXvzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<br/>
<h2>Visualization and downloading results using FullMonteWeb</h2>
<iframe width="650" height="350" src="https://www.youtube.com/embed/0gcd8nju8Wc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<br/>

<h2>Next</h2>
<p>
When you are done with the tutorial, continue to the <a href="{% url 'simulator'%}">simulator</a>.
</p>
{% endblock %}
