{% extends "base_generic.html" %}

{% block content %}
<h1>FullMonte Simulator</h1>

<h2>Load Mesh:</h2>
<p><form action=""><input type="file"></form></p>

<form action="" method="GET">
    <p><button type="addMatSet" name="addMatSet" value="addMatSet">
        Add Material
    </button>
    <button type="removeMatSet" name="removeMatSet" value="removeMatSet">
        Remove Material
    </button></p>
    <p>
    <button type="addLightSource" name="addLightSource" value="addLightSource">
        Add Light Source
    </button>
    <button type="removeLightSource" name="removeLightSource" value="removeLightSource">
        Remove Light Source
    </button>
    </p>
</form>


<form action="" method="POST">
    
<h2>Material Set:</h2>
<div class="matSet">
    <div class="repeatableMatSet">
        {% csrf_token %}
        {% for materialSet in form.materialSetSet %}
            {{ materialSet.as_p }}
        {% endfor %}
    </div>
</div>

<h2>Light Source:</h2>
<div class="lightSource">
    <div class="repeatableLightSource">
        {% csrf_token %}
        {% for lightSource in form.lightSourceSet %}
            {{ lightSource.as_p }}
        {% endfor %}
    </div>
</div>

<h2>Kernel Type:</h2>
<p><select>
    <option value="tetrasvkernel">TetraSVKernel</option>
    <option value="tetrasurfacekernel">TetraSurfaceKernel</option>
    <option value="tetravolumekernel">TetraVolumeKernel</option>
    <option value="tetrainternalkernel">TetraInternalKernel</option>
</select></p>

<p><input type="submit"></p>

</form>

{% endblock %}
