{% extends "base_generic.html" %}

{% block content %}
<h1>FullMonte Simulator</h1>

<h2>Load Mesh:</h2>
<p><form action=""><input type="file"></form></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(function(){
      $(".addMatSet").on('click', function(){
                      $('.matSet').append($('.repeatableMatSet').html())
                      })
      })
</script>

<form action="" method="post">
<h2>Material Set:</h2>
<div class="matSet">
    <button class="addMatSet">Add</button>
    <div class="repeatableMatSet">
        {% csrf_token %}
        {{ form.materialSet.as_p }}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(function(){
      $(".addLightSource").on('click', function(){
                         $('.lightSource').append($('.repeatableLightSource').html())
                         })
      })
</script>

<h2>Light Source:</h2>
<div class="lightSource">
    <button class="addLightSource">Add</button>
    <div class="repeatableLightSource">
        {% csrf_token %}
        {{ form.lightSource.as_p }}
    </div>
</div>

<h2>Kernel Type:</h2>
<p><select>
    <option value="tetrasvkernel">TetraSVKernel</option>
    <option value="tetrasurfacekernel">TetraSurfaceKernel</option>
    <option value="tetravolumekernel">TetraVolumeKernel</option>
    <option value="tetrainternalkernel">TetraInternalKernel</option>
</select></p>

<p><input type="submit"></p>

</form>

{% endblock %}
