/* global settings
====================*/

/* typography */

body {
    margin: 0;
    font-size: 14pt;
}

.center_container {
    text-align: center;
    padding: .5rem 0rem 1rem 0rem;
}

.graph_container {
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0 0 0 0;
}

.txt_container {
    margin: 0 auto;
    padding: 2rem 8rem 1rem 8rem;
    max-width: 100%;
    height: auto;
}

.txt_container h1 {
    text-align: center;
    color: rgb(68, 67, 67);
    margin-bottom: 30px;
}

form h3,
form p,
form a {
    text-align: center;
}

.form_info {
    text-align: center;
}

/* images */

img {
    /* set max width for images so they don't run off the screen */
    margin: 0, auto;
    padding: .2rem;
    max-width: 100%;
    height: auto;
}

.navbar img {
    margin: 0, auto;
    padding: 0rem .5rem 0rem 0rem;
    height: auto;
}

.figure_container {
    width: 100%;
    text-align: center;
    padding: .5rem .5rem 1rem .5rem;
}

/* top navigation bar */

.navbar {
    min-height: 40px;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 33px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        line-height: 27px;
    }
}

.text-blue {
    color: #0894d1;
}

nav.navbar ul li a {
  position: relative;
}

nav.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}



/* side navigation bar
====================*/

.sidebar-nav {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
}

.btn-primary {
    font-size: 1.5rem;
    background: #6e787c;
    color: #fff;
}

.btn-primary:hover {
    background: #42494d;
    color: #0894d1;
}

.btn-primary:focus {
    background: #0894d1;
    color: #fff;
}

.btn-block {
    padding: 10% 0;
}

.btn-focused {
    background: #0894d1;
    color: #222;
    font-weight: 600;
    border-width: 5px;
    border-color: #222;
}

/* simulation pages
====================*/

#advancedOption {
    font-weight: bold;
    margin: 12px;
    display: none;
}

/* footer
====================*/

footer {
    background: #222;
    color: #aaa;
    padding-top: 10px;
    margin-top: 30px;
}

footer p {
    font-size: 14px;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}

footer h3 {
    color: #0894d1;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer .three-column {
    overflow: hidden;
}

footer .three-column li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}

footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
}

footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
    opacity: 1;
}

footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}

footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}

footer .copyright span {
    color: #0894d1;
}

/* progress bar */

.progress-outer{
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0  10px rgba(209, 219, 231,0.7);
}
.progress{
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
}
.progress .progress-bar{
    border-radius: 50px;
}
.progress .progress-value{
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}
.progress-bar.active{
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}

/* tutorial images */

.tutorial_image {
    width: 1000px;
    height: auto;
}

.tutorial_vid {
    width: 1000px;
    height: auto;
}

.option-select {
    display: inline;
}
  
.option-select:before {
    content: 'Select an uploaded mesh file from databse: ';
    color: black;
    font-weight: bold;
}