{% extends 'base_generic.html' %}

{% block content %}
<div class="txt_container">
  <h1> This option is currently available for select users. Please enter your FullMonte - ServerlessSimulation login credentials. </h1>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match.</p>
  {% endif %}
  <div class="d-flex justify-content-center ">
    <form class = 'card p-3 bg-dark' method="post" style="color: #fff;">
      <h3>Login</h3>
      <hr style="border-top: 1px solid #fff;">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% for field in form %}
        <p>
          {{ field.label_tag }}
          {{ field }}<br>
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" style="background: #0894d1; color: #fff;">Log in</button>

    </form>
  </div>
</div>
{% endblock %}