{% extends "base_generic.html" %}

{% block content %}
<meta http-equiv="refresh" content="5"/>
<div class="txt_container">
    <h1>[beta] Running FullMonte Serverless Simulator...</h1>
    <div class="txt_container" style="text-align: center;">
        <p>Please go to IBM Cloud Object Storage to view your output files.
            (The progress bar and output file download buttons are under development.)
        </p>
        <br/>
        <b><a href="{% url 'serverless_simulator' %}">
            Click here to launch another serverless simulation.
        </a></b>

      <p>Click refresh to update status or auto-fresh every 5 seconds.</p>
      <p>You will be automatically redirected when the simulation is finished</p>
      <form action="" method="get">
        <input type="submit" value="Refresh" />
      </form>
    </div>
</div>
{% endblock %}