<div class="txt_container" style="padding: 1rem 0rem 0rem 0rem;">
  <h2 class="text-center mt-4">Serverless (IBM)</h2>
  <p style="padding: 0; margin: 0;"><b>Total rows: {{ serverless|length }}</b></p>
  {% if not serverless %}
    <p>Please go to the Serverless Simulation tab to perform FullMonte simulation</p>
  {% endif %}
</div>
{% if serverless %}
  <div class="custom_table_scrollbar">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th class="th-sm">Mesh File</th>
          <th class="th-sm">TCL Script</th>
          <th class="th-sm">Output VTK Files</th>
          <th class="th-sm">Output TXT Files</th>
          <th class="th-sm">Output Log</th>
          <th class="th-sm">Time Started</th>
          <th class="th-sm">Time Finished</th>
        </tr>
      </thead>
      <tbody>
        {% for item in serverless %}
          <tr>
            <td><a href="cos_d/{{ item.request.mesh_name }}&bucket=mesh">{{ item.request.mesh_name }}</a></td>
            <td><a href="cos_d/{{ item.request.tcl_name }}&bucket=tcl">{{ item.request.tcl_name }}</a></td>
            <td><a href="cos_d/{{ item.output_vtk_name }}&bucket=output">{{ item.output_vtk_name }}</a></td>
            <td><a href="cos_d/{{ item.output_txt_name }}&bucket=output">{{ item.output_txt_name }}</a></td>
            <td><a href="cos_d/{{ item.output_log_name }}&bucket=output">{{ item.output_log_name }}</a></td>
            <td nowrap>{{ item.request.datetime }}</td>
            <td nowrap>{{ item.datetime }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}