{% extends 'base_generic.html' %}

{% block content %}
  <h2>Log in to FullMonte</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Log in</button>
    <a href="{% url 'signup' %}">New to FullMonte? Sign up</a>
    <div>
      <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </div>
  </form>
{% endblock %}