{% extends 'base_generic.html' %}
{% block content %}
<div class="txt_container">
    <h1>Forgot your password? Enter your email below</h1>
    <div class="d-flex justify-content-center ">
        <form class = 'card p-3 bg-dark' method="post" style="color: #fff;">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}<br>
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}